Source: sinntp
Section: news
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.8.0
Bugs: mailto:ubanus@users.sf.net

Package: sinntp
Architecture: any
Suggests: news-transport-system, news-reader
Depends: ${python:Depends}
Description: Handy NNTP to mbox tool
