Source: sinntp
Section: news
Priority: extra
Maintainer: Piotr Lewandowski <piotr.lewandowski@gmail.com>
Uploaders: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.8.3
Vcs-Browser: http://code.google.com/p/sinntp/source/browse/
Vcs-Hg: https://sinntp.googlecode.com/hg/
Homepage: http://code.google.com/p/sinntp/

Package: sinntp
Architecture: all
Depends: python (>= 2.5), ${misc:Depends}, ${python:Depends}
Description: Tiny non-interactive NNTP client
  sinntp is a tiny NNTP client originally designed to work in non-interactive
  mode. Following operations are supported:
    - sending articles to the server,
    - fetching new articles to the mbox file,
    - downloading individual messages in RFC822 format,
    - listing available newsgroups.
