#!/usr/bin/make -f

configure:
	:

build:
	:

clean: 
	dh clean

install: build
	dh install
	sed -i -e '1,/^$$/ {s|^$$|\nimport sys; sys.path.insert(0, "/usr/share/sinntp/")\n|;}' $(CURDIR)/debian/sinntp/usr/bin/*

binary-indep: install
	dh binary-indep

binary-arch: install
	:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

# vim:ts=4 sw=4 noet
